<section class="components">
  <h2 class="components-title"></h2>
  <p class="components-description"></p>
  <ul class="components-list list">
    <li class="components-item">
      <a href="">
        <div class="components-wraper">
          <img src="" alt="" />
          <h3 class="components-subtitle"></h3>
          <div></div>
        </div>
      </a>
    </li>
    <li class="components-item">
      <a href="">
        <div class="components-wrapper">
          <img src="" alt="" />
          <h3 class="components-subtitle"></h3>
          <div></div>
        </div>
      </a>
    </li>
    <li class="components-item">
      <a href="">
        <div class="components-wrapper">
          <img src="" alt="" />
          <h3 class="components-subtitle"></h3>
          <div></div>
        </div>
      </a>
    </li>
    <li class="components-item">
      <a href="">
        <div class="components-wrapper">
          <img src="" alt="" />
          <h3 class="components-subtitle"></h3>
          <div></div>
        </div>
      </a>
    </li>
  </ul>
</section>
