<section class="components">
  <h2 class="components-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION
  </h2>
  <p class="components-description">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="components-list list">
    <li class="components-item">
      <a class="components-link link" href="">
        <div class="components-wraper">
          <picture>
            <source />
          </picture>
          <p class="components-subtitle"></p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle"></h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button></button>
                <button></button>
              </li>
              <p class="components-overlay-description"></p>
            </ul>
          </div>
        </div>
      </a>
    </li>
    <li class="components-item">
      <a class="components-link link" href="">
        <div class="components-wrapper">
          <picture>
            <source />
          </picture>
          <p class="components-subtitle"></p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle"></h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button></button>
                <button></button>
              </li>
              <p class="components-overlay-description"></p>
            </ul>
          </div>
        </div>
      </a>
    </li>
    <li class="components-item">
      <a class="components-link link" href="">
        <div class="components-wrapper">
          <picture>
            <source />
          </picture>
          <p class="components-subtitle"></p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle"></h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button></button>
                <button></button>
              </li>
              <p class="components-overlay-description"></p>
            </ul>
          </div>
        </div>
      </a>
    </li>
    <li class="components-item">
      <a class="components-link link" href="">
        <div class="components-wrapper">
          <picture>
            <source />
          </picture>
          <p class="components-subtitle"></p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle"></h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button></button>
                <button></button>
              </li>
              <p class="components-overlay-description"></p>
            </ul>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
