<footer>
    <div class="footer-container">
      <div class="footer-header">
        <h2 class="footer-title">
          <span class="footer-title-accent">Chocolate</span> a delicious cure
          for a bad day
        </h2>
      </div>
      <div class="footer-wrapper">
        <div class="footer-contact-us">
          <p class="footer-text">Contact us</p>
          <address class="footer-address">
            <ul class="footer-contacts">
              <li class="footer-contact-item">
                <a href="tel:+380(68)443-94-26">+38 (068) 443-94-23</a>
              </li>
              <li class="footer-contact-item">
                <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-social-list">
          <ul class="footer-links">
            <li class="footer-links-item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="footer-link-icon" width="22" height="22">
                  <use href="/img/svg_sprite.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="footer-links-item">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="footer-link-icon" width="22" height="22">
                  <use href="/img/svg_sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="footer-link-list">
        <li class="footer-link-item"><a href="#home"></a>Home</li>
        <li class="footer-link-item">
          <a href="#how-it's-made?"></a>How it's made?
        </li>
        <li class="footer-link-item">
          <a href="#our-products"></a>Our products
        </li>
        <li class="footer-link-item">
          <a href="#top-sellers"></a>Top sellers
        </li>
        <li class="footer-link-item">
          <a href="#about"></a>Chocolate is loved
        </li>
      </ul>
    </div>
  </footer>