<div class="container-modal-thanks" id="modal-thanks">
  <div class="modal-thanks">
    <botton class="modal-thanks-btn-close close" type="button">
      <svg class="modal-thanks-icon">
        <use href="../img/svg_sprite.svg#icon-x"></use>
      </svg>
    </botton>
    <div class="modal-thanks-content">
      <h3 class="modal-thanks-tittle">THANK YOU!</h3>
      <p class="modal-thanks-text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
    <picture class="modal-thanks-img">
      <source
        srcset="
          ../img/chocolate_bar_384x516.png    1x,
          ../img/chocolate_bar_384x516_2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/chocolate_bar_296x399.png    1x,
          ../img/chocolate_bar_296x399_2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="../img/chocolate_bar_296x399.png" alt="chokolate" />
    </picture>
  </div>
</div>
