<div class="container-modal-review" id="modal-review">
    <div class="modal-review">
      <button type="button" class="modal-review-close-btn close">
        <svg class="modal-review-btn-icon">
          <use href="/img/svg_sprite.svg#icon-x"></use>
        </svg>
      </button>
      <form class="modal-review-form">
        <h3 class="modal-review-title">
          LEAVE A REVIEW <br />ABOUT
          <span class="modal-review-title-colorize">OUR CHOCOLATE</span>
        </h3>
        <label>
          <span class="modal-review-item">
            <input
              class="modal-review-input"
              type="text"
              name="user-name"
              placeholder="Name"
            />
          </span>
        </label>
        <label>
          <span class="modal-review-item">
            <input
              class="modal-review-input"
              type="email"
              name="user-email"
              placeholder="Enter your email"
            />
          </span>
        </label>
        <label>
          <div class="modal-review-item">
            <input
              class="modal-review-input modal-review-input-number"
              type="tel"
              name="user-phone"
              placeholder="Phone number"
            />
            <div class="modal-review-input-item">
              <svg class="modal-review-icon">
                <use href="/img/svg_sprite.svg#icon-Frame"></use>
              </svg>
              <span class="modal-review-input-exemple">+380</span>
            </div>
          </div>
        </label>
        <label>
          <textarea
            class="modal-review-coment"
            name="user-text"
            id="user-text"
            placeholder="Enter text"
          ></textarea>
        </label>
        <button class="modal-review-btn-send-data" type="button" id="open-modal-feedback">Send</button>
      </form>
    </div>
  </div>