<!--Shavala-->
<div class="menu" id="modal-mobile">
    <div class="container">
      <div>
        <button class="menu-close close" type="button" id="close-modal-mobile">
          <svg class="menu-close-icon" width="16" height="16">
            <use href="../img/svg_sprite.svg#icon-x"></use>
          </svg>
        </button>
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link link" href="#home"> Home </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href="#how-its-made">
              How it’s made?
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href="#products"> Our products </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href="#topsellers"> Top sellers </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href="#reviews"> Chocolate is loved </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu-soc-list list">
          <li class="menu-soc-item">
            <a class="menu-soc-link link" href="">
              <svg class="menu-soc-icon" width="19" height="19">
                <use href="/images/svg_sprite.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
          <li class="menu-soc-item">
            <a class="menu-soc-link link" href="">
              <svg class="menu-soc-icon" width="19" height="16">
                <use href="/images/svg_sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          </ul>
      </div>
    </div>
  </div>