<!--Shavala-->
<div class="menu" >
    <div class="container">
      <div>
        <button class="menu-close" type="button">
          <svg class="menu-close-icon" width="12" height="12">
            <use href="./images/svg_sprite.svg#icon-x"></use>
          </svg>
        </button>
        <ul class="menu-list list">
          <li class="menu-item">
            <a class="menu-link link" href=""> Home </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href="">
              How it’s made?
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href=""> Our products </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href=""> Top sellers </a>
          </li>
          <li class="menu-item">
            <a class="menu-link link" href=""> Chocolate is loved </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu-soc-list list">
          <li class="menu-soc-item">
            <a class="menu-soc-link link" href="">
              <svg class="menu-soc-icon" width="19" height="19">
                <use href="./images/svg_sprite.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
          <li class="menu-soc-item">
            <a class="menu-soc-link link" href="">
              <svg class="menu-soc-icon" width="19" height="16">
                <use href="./images/svg_sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          </ul>
      </div>
    </div>
  </div>
  
