<header class="header">
  <div class="container">
    <a href="" class="logo"><span>SIMPLY </span> CHOCOLATE</a>
    <svg width="21" height="21" class="logo-icon">
      <use href="../img/svg_sprite.svg#icon-chocolate"></use>
    </svg>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="#">Home</a></li>
        <li class="nav-list-item"><a href="#how-its-made">How it’s made?</a></li>
        <li class="nav-list-item"><a href="">Our products</a></li>
        <li class="nav-list-item"><a href="">Top sellers</a></li>
        <li class="nav-list-item"><a href="">Chocolate is loved</a></li>
      </ul>
    </nav>
    <address class="soc-media">
      <ul class="soc-media-list">
        <li>
          <a href="https://www.instagram.com/" rel="noreferrer noopener">
            <svg width="24" height="24" class="media-icon">
              <use href="../img/svg_sprite.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/?lang=ru" rel="noreferrer noopener">
            <svg width="24" height="24" class="media-icon">
              <use href="../img/svg_sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="menu-open-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu"><svg width="32"
        height="28" class="menu-burger" aria-label="menu's button open">
        <use href="../img/svg_sprite.svg#icon-burger"></use>
      </svg></button>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="modal-close js-close-menu" type="button">
      <svg class="menu-icon" width="8px" height="8px">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
  </div>
</header>