<body>
  <header>
      <div class="container-header">
          <a href="" class="logo"><span class="logo-part">SIMPLY</span> CHOCOLATE <svg width="21" height="21" class="chocko">
              <use href="./images/svg_sprite.svg#icon-chocolate-2">
                  
              </use>
          </svg>
          </a>
          <ul class="header-link">
              <li><a href="" class="header-anchor">Home</a></li>
              <li><a href="" class="header-anchor">How it’s made?</a></li>
              <li><a href="" class="header-anchor">Our products</a></li>
              <li><a href="" class="header-anchor">Top sellers</a></li>
              <li><a href="" class="header-anchor">Chocolate is loved</a></li>
          </ul>
          <ul class="header-top">
              <a href="">
                  <svg class="svg-header" width="24" height="24">
                      <use href="./images/svg_sprite.svg#icon-instagram-1"></use>
                  </svg>
              </a>
              <a href="">
                  <svg width="24" height="24">
                      <use href="./images/svg_sprite.svg#icon-twitter-1"></use>
                  </svg>
              </a>
          </ul>
      <button id="open-menu">
          <img src="./images/menu-03.png" alt="" width="28" height="28">
      </button>

      <div id="menu" class="menu">
        <button id="close-menu">
          <svg width="28" height="28" class="header-menu-close">
              <use href="./images/svg_sprite.svg#icon-Property-1Default"></use>
          </svg>
        </button>
        <ul class="menu-list-header">
          <li><a href="" class="menu-link-header">Home</a></li>
          <li><a href=""class="menu-link-header">How it’s made?</a></li>
          <li><a href=""class="menu-link-header">Top sellers</a></li>
          <li><a href=""class="menu-link-header">Top sellers</a></li>
          <li><a href=""class="menu-link-header">Chocolate is loved</a></li>
        </ul>
        <ul class="menu-social-header">
           
          <li class="menu-header-svg">
              <a href="">
              <svg width="24px" height="24px" class="menu--svg">
                <use href="./images/svg_sprite.svg#icon-twitter"></use>
              </svg>
              </a>
            
          </li>
                     
                     
         
            
                  
                  <li class="menu-header-svg">
                      <a href=""  >
                      <svg width="24px" height="24px" class="menu--svg">
                          <use href="./images/svg_sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
              </li>
          
         </ul>

                      
      </div>
      

      

  </header>
  
</body>
<script src="./src/js/menu-header.js"></script>
</html>