<section class="hero" id="home">
    <div class="hero-container">
        <div class="hero-basic">
            <h2 class="hero-title">
                Treat yourself or a loved one <br />
                to our finest ingredients for a moment
                of pure delight!
            </h2>
            <ul class="hero-btn">
            <div class="main-hero-btn">
                <button class="hero-buy-button" type="button">Buy now</button>
                <a href="#how-its-made" class="hero-made-btn">How it's made?</a>
               </div>
            
            <div class="hero-scroll-down">
            <a href="#footer" class="hero-text">scroll down</a>
            <button class="hero-btn-scroll" type="button" aria-label="scroll down" title="scroll down">
                <a href="#footer">
                <svg class="btn-scroll-icon" width="16" height="16">
                    <use href="/img/svg_sprite.svg#icon-check" alt="scroll down"></use>
                </svg>
                </a>
            </button>
        </div>
        </ul>
    </div>
</section>