<section class="hero" id="home">
  <div class="hero-container">
    <div class="hero-basic">
      <h2 class="hero-title">
        Treat yourself or a loved one <br />
        to our finest ingredients for a moment of pure delight!
      </h2>
    </div>
    <div class="main-hero-btn">
      <div class="btn-tumb">
        <button class="hero-buy-button" type="button" id="open-modal-order">
          Buy now
        </button>
        <a href="#how-its-made" class="hero-made-btn">How it's made?</a>
      </div>
      <div class="hero-scroll-down">
        <a class="hero-text" href="#footer" id="scroll">scroll down
          <button class="hero-btn-scroll" type="button" aria-label="scroll" title="scroll">
            <svg class="btn-scroll-icon" width="16" height="16">
              <use href="/img/svg_sprite.svg#icon-check"></use>
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>