<section class="hero" id="home">
    <div class="hero-container">
        <div class="hero-basic">
            <h2 class="hero-title">
                Treat yourself or a loved one <br />
                to our finest ingredients for a moment
                of pure delight!
            </h2>
            <div class="main-hero-btn">
                <button class="hero-buy-button" type="button" id="open-modal-order2">
                    Buy now
                  </button>
                <a href="#" class="hero-made-btn">How it's made?</a>
            </div>
        </div>
        <div class="hero-scroll-down">
            <a class="hero-text" id="footer">scroll down</a>
            <button class="hero-btn-scroll" type="button" aria-label="scroll down" id="footer" title="scroll down">
                <svg class="btn-scroll-icon" width="16" height="16">
                    <use href="/img/svg_sprite.svg#icon-check" alt="scroll down"></use>
                </svg>
            </button>
        </div>
    </div>
</section>