<section class="components">
  <div class="components-container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-insert">TASTE</span> SENSATION
    </h2>
    <p class="components-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list list">
      <li class="components-item-first">
        <div class="components-wrapper">
          <picture class="components-picture">
            <source
              srcset="
                ../img/chocolate_bar_pieces_206x160.png    1x,
                ../img/chocolate_bar_pieces_206x160_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/chocolate_bar_pieces_224x171.png    1x,
                ../img/chocolate_bar_pieces_224x171_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/chocolate_bar_pieces_224x171.png    1x,
                ../img/chocolate_bar_pieces_224x171_2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/chocolate_bar_pieces_206x160.png"
              alt=""
              width="206"
              height="160"
            />
          </picture>
          <p class="components-name-first">Milk chocolate</p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle">Milk chocolate</h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button class="components-overlay-btn-first" type="button">
                  chocolate
                </button>
              </li>
              <li>
                <button class="components-overlay-btn-second" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-overlay-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item-second">
        <div class="components-wrapper">
          <picture class="components-picture">
            <source
              srcset="../img/milk_206x160.png 1x, ../img/milk_206x160_2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="../img/milk_224x171.png 1x, ../img/milk_224x171_2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="../img/milk_224x171.png 1x, ../img/milk_224x171_2x.png 2x"
              media="(max-width: 767px)"
            />
            <img
              src="../img/milk_206x160.png"
              alt=""
              width="206"
              height="160"
            />
          </picture>
          <p class="components-name-second">Milk</p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle">Milk</h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button class="components-overlay-btn-first" type="button">
                  milk
                </button>
              </li>
              <li>
                <button class="components-overlay-btn-second" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-overlay-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item-third">
        <div class="components-wrapper">
          <picture class="components-picture">
            <source
              srcset="
                ../img/hazelnut_206x160.png    1x,
                ../img/hazelnut_206x160_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/hazelnut_224x171.png    1x,
                ../img/hazelnut_224x171_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/hazelnut_224x171.png    1x,
                ../img/hazelnut_224x171_2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/hazelnut_206x160.png"
              alt=""
              width="206"
              height="160"
            />
          </picture>
          <p class="components-name-third">Nuts</p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle">Nuts</h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button class="components-overlay-btn-first" type="button">
                  nuts
                </button>
              </li>
              <li>
                <button class="components-overlay-btn-second" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-overlay-description">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item-fourth">
        <div class="components-wrapper">
          <picture class="components-picture">
            <source
              srcset="
                ../img/drops_206_160.png    1x,
                ../img/drops_206_160_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../img/drops_224_171.png    1x,
                ../img/drops_224_171_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/drops_224_171.png    1x,
                ../img/drops_224_171_2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/drops_206_160.png"
              alt=""
              width="206"
              height="160"
            />
          </picture>
          <p class="components-name-fourth">Semi-sweet chocolate</p>
          <div class="components-overlay">
            <h3 class="components-overlay-subtitle">Sweet chocolate</h3>
            <ul class="components-overlay-list">
              <li class="components-overlay-item">
                <button class="components-overlay-btn-first" type="button">
                  sweet chocolate
                </button>
              </li>
              <li>
                <button class="components-overlay-btn-second" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-overlay-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
=======
    <div class="components-container">
      <h2 class="components-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="components-title-insert">TASTE</span> SENSATION
      </h2>
      <p class="components-description">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process adds
        up to one exceptional taste sensation.
      </p>
      <ul class="components-list list">
        <li class="components-item-first">
          <div class="components-wrapper">
            <picture class="components-picture">
              <source
                srcset="
                  /img/chocolate_bar_pieces_206x160.png    1x,
                  /img/chocolate_bar_pieces_206x160_2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/chocolate_bar_pieces_224x171.png    1x,
                  /img/chocolate_bar_pieces_224x171_2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/chocolate_bar_pieces_224x171.png    1x,
                  /img/chocolate_bar_pieces_224x171_2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/chocolate_bar_pieces_206x160.png"
                alt=""
                width="206"
                height="160"
              />
            </picture>
            <p class="components-name-first">Milk chocolate</p>
            <div class="components-overlay">
              <h3 class="components-overlay-subtitle">Milk chocolate</h3>
              <ul class="components-overlay-list">
                <li class="components-overlay-item">
                  <button class="components-overlay-btn-first" type="button">
                    chocolate
                  </button>
                </li>
                <li>
                  <button class="components-overlay-btn-second" type="button">
                    the benefits
                  </button>
                </li>
              </ul>
              <p class="components-overlay-description">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of chocolate.
                Chocolate was originally sold and consumed as a beverage in
                pre-Columbian times. Although four-fifths of all milk chocolate is
                sold in the United States and Europe, increasingly large amounts
                are consumed in China and Latin America.
              </p>
            </div>
          </div>
        </li>
        <li class="components-item-second">
          <div class="components-wrapper">
            <picture class="components-picture">
              <source
                srcset="
                /img/milk_206x160.png 1x, 
                /img/milk_206x160_2x.png 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                /img/milk_224x171.png 1x, 
                /img/milk_224x171_2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                /img/milk_224x171.png 1x, 
                /img/milk_224x171_2x.png 2x"
                media="(max-width: 767px)"
              />
              <img
                src="/img/milk_206x160.png"
                alt=""
                width="206"
                height="160"
              />
            </picture>
            <p class="components-name-second">Milk</p>
            <div class="components-overlay">
              <h3 class="components-overlay-subtitle">Milk</h3>
              <ul class="components-overlay-list">
                <li class="components-overlay-item">
                  <button class="components-overlay-btn-first" type="button">
                    milk
                  </button>
                </li>
                <li>
                  <button class="components-overlay-btn-second" type="button">
                    the benefits
                  </button>
                </li>
              </ul>
              <p class="components-overlay-description">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to digest
                solid food.Early-lactation milk, which is called colostrum,
                contains antibodies that strengthen the immune system, and thus
                reduces the risk of many diseases. Milk contains many nutrients,
                including protein and lactose.
              </p>
            </div>
          </div>
        </li>
        <li class="components-item-third">
          <div class="components-wrapper">
            <picture class="components-picture">
              <source
                srcset="
                  /img/hazelnut_206x160.png    1x,
                  /img/hazelnut_206x160_2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/hazelnut_224x171.png    1x,
                  /img/hazelnut_224x171_2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hazelnut_224x171.png    1x,
                  /img/hazelnut_224x171_2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/hazelnut_206x160.png"
                alt=""
                width="206"
                height="160"
              />
            </picture>
            <p class="components-name-third">Nuts</p>
            <div class="components-overlay">
              <h3 class="components-overlay-subtitle">Nuts</h3>
              <ul class="components-overlay-list">
                <li class="components-overlay-item">
                  <button class="components-overlay-btn-first" type="button">
                    nuts
                  </button>
                </li>
                <li>
                  <button class="components-overlay-btn-second" type="button">
                    the benefits
                  </button>
                </li>
              </ul>
              <p class="components-overlay-description">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a nutrient-dense
                diet, these 9 nuts may offer benefits such as reducing your risk
                of heart disease. They’re a good source of fiber, healthy fats,
                and plant protein. Plus, they’re great on their own, paired with
                fruit, or added to dishes like salads, desserts, and grains.
              </p>
            </div>
          </div>
        </li>
        <li class="components-item-fourth">
          <div class="components-wrapper">
            <picture class="components-picture">
              <source
                srcset="
                  /img/drops_206_160.png    1x,
                  /img/drops_206_160_2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /img/drops_224_171.png    1x,
                  /img/drops_224_171_2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/drops_224_171.png    1x,
                  /img/drops_224_171_2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/drops_206_160.png"
                alt=""
                width="206"
                height="160"
              />
            </picture>
            <p class="components-name-fourth">Semi-sweet chocolate</p>
            <div class="components-overlay">
              <h3 class="components-overlay-subtitle">Sweet chocolate</h3>
              <ul class="components-overlay-list">
                <li class="components-overlay-item">
                  <button class="components-overlay-btn-first" type="button">
                    sweet chocolate
                  </button>
                </li>
                <li>
                  <button class="components-overlay-btn-second" type="button">
                    the benefits
                  </button>
                </li>
              </ul>
              <p class="components-overlay-description">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison, it
                has a slightly bitter taste whereas milk chocolate is sweeter and
                more mellow. This delectable flavor of chocolate is very
                versatile.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
