<section class="how-its-made">
    <div class="made-container">
        <h2 class="h2-made">HOW IT’S <span class="h2-made-sec">MADE?</span></h2>
        <div class="screen-1200">
            <div class="video-made">
                <iframe 
                    src="https://www.youtube.com/embed/DISjdfkSjc8" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen
                    class="iframe-made"
                ></iframe>
            </div>
            <div class="div-list">
                <h3 class="h3-made">Try  our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="list-made">
                    <li class="li-made">
                        <svg class="svg-made">
                            <use href="/img/svg_sprite.svg#icon-li-made" width="8" height="8"></use>
                        </svg>
                        <p>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p>
                    </li>
                    <li class="li-made">
                        <svg class="svg-made">
                            <use href="/img/svg_sprite.svg#icon-li-made" width="8" height="8"></use>
                        </svg>
                        <p>At the same time, prepare a water bath. Melt the butter on it.</p>
                    </li>
                    <li class="li-made">
                        <svg class="svg-made">
                            <use href="/img/svg_sprite.svg#icon-li-made" width="8" height="8"></use>
                        </svg>
                        <p>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
                    </li>
                    <li class="li-made">
                        <svg class="svg-made">
                            <use href="/img/svg_sprite.svg#icon-li-made" width="8" height="8"></use>
                        </svg>
                        <p>Heat the mixture over low heat, letting it barely boil.</p>
                    </li>
                    <li class="li-made">
                        <svg class="svg-made">
                            <use href="/img/svg_sprite.svg#icon-li-made" width="8" height="8"></use>
                        </svg>
                        <p>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>