<section class="products">
    <div class="products-container">
        <h2 class="h2-product">OUR <span class="span-product">PRODUCTS</span></h2>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card-product">
                        <img srcset="/img/sl-chocolate-orange_230x201.jpg 1x, /img/sl-chocolate-orange_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">ORANGE</h3>
                        <p class="p-type-choco">Dark chocolate</p>
                        <p class="p-price-prod">45 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img srcset="/img/sl-chocolate-apple-cranberry_230x201.jpg 1x, /img/sl-chocolate-apple-cranberry_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">APPLE&CRANBERRY</h3>
                        <p class="p-type-choco">Milk chocolate</p>
                        <p class="p-price-prod">50 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img src="../img/sl-chocolate-lime-seasalt_230x201.jpg" alt="">
                        <img srcset="/img/sl-chocolate-lime-seasalt_230x201.jpg 1x, /img/sl-chocolate-lime-seasalt_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">LIME&SEA SALT</h3>
                        <p class="p-type-choco">Dark chocolate</p>
                        <p class="p-price-prod">66 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img srcset="/img/sl-chocolate-pineapple_230x201.jpg 1x, /img/sl-chocolate-pineapple_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">PINEAPPLE</h3>
                        <p class="p-type-choco">Dark chocolate</p>
                        <p class="p-price-prod">54 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img srcset="/img/sl-chocolate-classic_230x201.jpg 1x, /img/sl-chocolate-classic_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">CLASSIC</h3>
                        <p class="p-type-choco">Milk chocolate</p>
                        <p class="p-price-prod">45 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img srcset="/img/sl-chocolate-honey_230x201.jpg 1x, /img/sl-chocolate-honey_230x201_2.jpg 2x" alt="photo">
                        <h3 class="h3-product">HONEY</h3>
                        <p class="p-type-choco">Milk chocolate</p>
                        <p class="p-price-prod">50 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img srcset="/img/sl-chocolate-roasted-fruits_230x201.jpg 1x, /img/sl-chocolate-roasted-fruits_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">ROASTED FRUITS</h3>
                        <p class="p-type-choco">Dark chocolate</p>
                        <p class="p-price-prod">66 UAH</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product s1">
                        <img srcset="/img/sl-chocolate-classic-white_230x201.jpg 1x, /img/sl-chocolate-classic-white_230x201_2x.jpg 2x" alt="photo">
                        <h3 class="h3-product">CLASSIC</h3>
                        <p class="p-type-choco">White chocolate</p>
                        <p class="p-price-prod">54 UAH</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>