<
<section>
  <div class="topsellers-container" id="topsellers">
    <h2 class="topselles-title">
      <span class="top">TOP</span><span class="sellers">SELLER</span>
    </h2>
    <ul class="topseller-list">
        <li class="topsellers-item">
            <img
            src="/img/chocolate-hazelnut-coffe_desktop_368x464.jpg"
            alt="dark-chocolate-bar-piramid-candy"
            class="topseller-img"
            />
        </li>
        <li class="topsellers-item">
            <img
        src="/img/milk-chocolate-bar-piramid_tabl_344x464.jpg"
        alt="milk-chocolate-bar-piramid"
        class="topseller-img"
        />
    </li>
    <li class="topsellers-item">
        <img
        src="/img/dark-chocolate-bar-piramid-candy_368x464.jpg"
        alt="/pieces-of-chocolate-bars"
        class="topseller-img"
        />
    </li>
</ul>
<div class="topseller-tumb">
    <p class="topseller-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
    </p>
    <button class="hero-buy-btn" type="button" id="open-modal-order2">
        Buy now
    </button>
  </div>
</div>
</section>
