<section>
    <div class="topsellers-container" id="topsellers">
        <h2 class="topselles-title">
            <span class="top">TOP</span><span class="sellers">SELLER</span>
        </h2>
        <ul class="topseller-list">
            <li class="topsellers-item">
                <img src="../img/chocolate-hazelnut-coffe_desktop_368x464.jpg" alt="dark-chocolate-bar-piramid-candy"
                    class="topseller-img" />
            </li>
            <li class="topsellers-item">
                <img src="/img/milk-chocolate-bar-piramid_tabl_344x464.jpg" alt="milk-chocolate-bar-piramid"
                    class="topseller-img" />
            </li>
            <li class="topsellers-item">
                <img src="/img/dark-chocolate-bar-piramid-candy_368x464.jpg" alt="/pieces-of-chocolate-bars"
                    class="topseller-img" />
            </li>
        </ul>
        <div class="topseller-tumb">
            <p class="topseller-text">
                Crazy enough chocolate originates from a bean just like the coffee bean
                called Cacao. Cacao has been around for thousands of years and was first
                discovered by the Native American tribe called the Mayans.
            </p>
            <button class="hero-buy-btn" type="button" id="open-modal-order2">
                Buy now
            </button>
        </div>
    </div>
</section>

<!---section class="top-sellers-section">
  <div class="top-sellers-container">
    <h2 class="top-sellers-title" id="top-sellers">
      <span class="top-sellers-title-span">Top</span>&nbspSellers
    </h2>
    <div class="top-sellers-wrap">
      <ul class="top-sellers-list">
        <li class="top-sellers-item">
          <picture>
            <!--desktop-1-->
            <!--source
              srcset="
                /img/chocolate-hazelnut-coffe_desktop_368x464.jpg    1x,
                /img/chocolate-hazelnut-coffe_desktop_368x464_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <!--tabl-1-->
            <!--source
              srcset="
                /img/chocolate-hazelnut-coffe_tabl_344x464.jpg    1x,
                /img/chocolate-hazelnut-coffe_tabl_344x464_2x.jpg 2x
              "
              media="(min-width:768px )"
            />
            <!--mob-1-->
            <!--source
              srcset="
                /img/chocolate-hazelnut-coffe_mob_335x464.jpg    1x,
                /img/chocolate-hazelnut-coffe_mob_335x464_2x.jpg 2x
              "
              media="(min-width:320px)"
            />

            <img
              src="/img/chocolate-hazelnut-coffe_desktop_368x464.jpg"
              alt="chocolate-hazelnut-coffe"
              width="368"
              height="464"
            />
          </picture>
        </li>
        <li class="top-sellers-item">
          <picture>
            <!--desktop-2-->

            <!--source
              srcset="
                /img/milk-chocolate-bar-piramid_desktop_368x464.jpg    1x,
                /img/milk-chocolate-bar-piramid_desktop_368x464+2x.jpg 2x
              "
              media="(min-width:1200px )"
            />

            <!--tabl-2-->

            <!--source
              srcset="
                /img/milk-chocolate-bar-piramid_tabl_344x464.jpg    1x,
                /img/milk-chocolate-bar-piramid_tabl_344x464_2x.jpg 2x
              "
              media="(min-width:768px )"
            />

            <!--mob-2-->
            <!--source
              srcset="
                /img/milk-chocolate-bar-piramid_mob_335x464.jpg    1x,
                /img/milk-chocolate-bar-piramid_mob_335x464_2x.jpg 2x
              "
              media="(min-width:320px )"
            />

            <img
              src="/img/milk-chocolate-bar-piramid_desktop_368x464.jpg"
              alt="milk-chocolate-bar-piramid"
              width="368"
              height="464"
            />
          </picture>
        </li>
        <li class="top-sellers-item">
          <picture>
            <!--desktop-3-->
            <!--source
              srcset="
                /img/dark-chocolate-bar-piramid-candy_368x464.jpg    1x,
                /img/dark-chocolate-bar-piramid-candy_368x464_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/img/dark-chocolate-bar-piramid-candy_368x464.jpg"
              alt="dark-chocolate-bar-piramid-candy"
              width="368"
              height="464"
            />
          </picture>
        </li>
      </ul>
      <div class="top-sellers-flex">
        <p class="top-sellers-subtitle">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button class="top-sellers-btn" type="button" id="open-modal-order2">
          Buy now
        </button>
      </div>
    </div>
  </div>
</!--section--->
