<section class="top-sellers-section" id="topsellers">
  <div class="top-sellers-container">
    <h2 class="top-sellers-title" id="top-sellers">
      <span class="top-sellers-title-span">Top</span> Sellers
    </h2>
    <div class="top-sellers-wrap">
      <ul class="top-sellers-list">
        <li class="top-sellers-item">
          <div class="top-sellers-img-wrap">
            <picture>
              <!--desktop-1-->
              <source
                srcset="
                  /img/chocolate-hazelnut-coffe_desktop_368x464.jpg    1x,
                  /img/chocolate-hazelnut-coffe_desktop_368x464_2x.jpg 2x
                "
                media="(min-width:1200px)"
              />
              <!--tabl-1-->
              <source
                media="(min-width:768px)"
                srcset="
                  /img/chocolate-hazelnut-coffe_tabl_344x464.jpg    1x,
                  /img/chocolate-hazelnut-coffe_tabl_344x464_2x.jpg 2x
                "
              />
              <!--mob-1-->
              <source
                media="(min-width:320px)"
                srcset="
                  /img/chocolate-hazelnut-coffe_mob_335x464.jpg    1x,
                  /img/chocolate-hazelnut-coffe_mob_335x464_2x.jpg 2x
                "
              />

              <img
                src="/img/chocolate-hazelnut-coffe_mob_335x464.jpg"
                alt="chocolate-hazelnut-coffe"
                width="368"
                height="464"
                class="topseller-img"
              />
            </picture>
          </div>
        </li>

        <li class="top-sellers-item">
          <div class="top-sellers-img-wrap">
            <picture>
              <!--desktop-2-->

              <source
                media="(min-width:1200px)"
                srcset="
                  /img/milk-chocolate-bar-piramid_desktop_368x464.jpg    1x,
                  /img/milk-chocolate-bar-piramid_desktop_368x464+2x.jpg 2x
                "
              />

              <!--tabl-2-->

              <source
                media="(min-width:768px)"
                srcset="
                  /img/milk-chocolate-bar-piramid_tabl_344x464.jpg    1x,
                  /img/milk-chocolate-bar-piramid_tabl_344x464_2x.jpg 2x
                "
              />

              <!--mob-2-->
              <source
                media="(min-width:320px)"
                srcset="
                  /img/milk-chocolate-bar-piramid_mob_335x464.jpg    1x,
                  /img/milk-chocolate-bar-piramid_mob_335x464_2x.jpg 2x
                "
              />

              <img
                src="/img/milk-chocolate-bar-piramid_desktop_368x464.jpg"
                alt="milk-chocolate-bar-piramid"
                width="368"
                height="464"
                class="topseller-img"
              />
            </picture>
          </div>
        </li>
        <li class="top-sellers-item">
          <div class="top-sellers-img-wrap">
            <picture>
              <!--desktop-3-->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/dark-chocolate-bar-piramid-candy_368x464.jpg    1x,
                  /img/dark-chocolate-bar-piramid-candy_368x464_2x.jpg 2x
                "
              />
              <img
                src="/img/dark-chocolate-bar-piramid-candy_368x464.jpg"
                alt="dark-chocolate-bar-piramid-candy"
                width="368"
                height="464"
                class="topseller-img"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="topsellers-tumb">
      <p class="top-sellers-subtitle">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="top-sellers-btn" type="button" id="open-modal-top-order">
        Buy now
      </button>
    </div>
  </div>
</section>
