<section class="reviews" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">
      <span class="reviews-title-accent">CHOCOLATE </span>IS LOVED
    </h2>
    <div class="slider">
      <div class="slider-item">
        <div class="reviews-item">
          <div class="reviews-item-person">
            <img
              src="./img/ellipse_viktoria_dobrzhanska.png"
              alt="Victoria Dobrzhanska"
              srcset="./img/ellipse_viktoria_dobrzhanska_2x.png"
              width="80"
              height="80"
            />
          </div>
          <div class="reviews-item-wrap">
            <h3 class="reviews-item-name">Victoria Dobrzhanska</h3>
            <p class="reviews-item-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="reviews-item">
          <div class="reviews-item-person">
            <img
              src="./img/ellipse_nazar_babenko.png"
              alt="Nazar Babenko"
              srcset="./img/ellipse_nazar_babenko_2x.png"
              width="80"
              height="80"
            />
          </div>
          <div class="reviews-item-wrap">
            <h3 class="reviews-item-name">Nazar Babenko</h3>
            <p class="reviews-item-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="reviews-item">
          <div class="reviews-item-person">
            <img
              src="./img/ellipse_olena_kampush.png"
              alt="Olena Kampusch"
              srcset="./img/ellipse_olena_kampush_2x.png"
              width="80"
              height="80"
            />
          </div>
          <div class="reviews-item-wrap">
            <h3 class="reviews-item-name">Olena Kampusch</h3>
            <p class="reviews-item-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="reviews-item">
          <div class="reviews-item-person">
            <img
              src="./img/ellipse_natalia_sus.png"
              alt="Natalia Sus"
              srcset="./img/ellipse_natalia_sus_2x.png"
              width="80"
              height="80"
            />
          </div>
          <div class="reviews-item-wrap">
            <h3 class="reviews-item-name">Natalia Sus</h3>
            <p class="reviews-item-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="reviews-item">
          <div class="reviews-item-person">
            <img
              src="./img/ellipse_danilo_nottingham.png"
              alt="Danilo Nottingham"
              srcset="./img/ellipse_danilo_nottingham_2x.png"
              width="80"
              height="80"
            />
          </div>
          <div class="reviews-item-wrap">
            <h3 class="reviews-item-name">Danilo Nottingham</h3>
            <p class="reviews-item-text">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>
      </div>

      <div class="slider-item">
        <div class="reviews-item">
          <div class="reviews-item-person">
            <img
              src="./img/ellipse_irina_tydnyuk.png"
              alt="Irina Tydnyuk"
              srcset="./img/ellipse_irina_tydnyuk_2x.png"
              width="80"
              height="80"
            />
          </div>
          <div class="reviews-item-wrap">
            <h3 class="reviews-item-name">Irina Tydnyuk</h3>
            <p class="reviews-item-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn-review" id="open-modal-review">
      Leave a review
    </button>
  </div>
</section>
