<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header-cont">
            <a href="" class="logo"><span class="logo-part">SIMPLY</span> CHOCOLATE <svg width="21" height="21" class="chocko">
                <use href="/images/svg_sprite.svg#icon-chocolate-2">
                    
                </use>
            </svg>
            </a>
        <button id="open-menu">
            <img src="/images/menu-03.png" alt="" width="28" height="28">
        </button>

        <div id="menu" class="menu">
          <button id="close-menu">
            <svg width="28" height="28" >
                <use href="/images/svg_sprite.svg#icon-Property-1Default"></use>
            </svg>
          </button>
          <ul class="menu-list">
            <li><a href="" class="menu-link">Home</a></li>
            <li><a href=""class="menu-link">How it’s made?</a></li>
            <li><a href=""class="menu-link">Top sellers</a></li>
            <li><a href=""class="menu-link">Top sellers</a></li>
            <li><a href=""class="menu-link">Chocolate is loved</a></li>
          </ul>
          <ul class="menu-social">
                       
                        <li >
                            <a href="" class="" >
                            <svg width="24px" height="24px">
                                <use href="/images/svg_sprite.svg#icon-twitter" class="svg_footer"></use>
                          </svg>
                        </a>
                    </li>
                    <li >
                        <a href="" class="" >
                        <svg width="24px" height="24px">
                            <use href="/images/svg_sprite.svg#icon-instagram" class="svg_footer"></use>
                      </svg>
                    </a>
                </li>
            
           </ul>

                        
        </div>
        

        </div>

        

    </header>
    
</body>
<script src="/menu-header.js"></script>
</html>