<section>
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae autem unde
      laborum aperiam quae maxime dignissimos a dolorem, aspernatur quo delectus
      aut voluptatibus temporibus consequatur asperiores earum. Vero consectetur
      illum impedit odio voluptas debitis. Dolorem nemo sequi expedita debitis,
      in consequuntur excepturi beatae dolorum natus facere? Minus rerum
      repudiandae ut blanditiis facere, velit eius accusantium facilis repellat
      consequuntur tempore, iste, nulla accusamus dolor consequatur magnam
      perspiciatis quidem eos? Dolorum culpa, reiciendis porro dicta quas quod
      enim totam, atque, aut blanditiis est minus numquam? Quidem eaque delectus
      doloribus a. In provident expedita, libero tenetur obcaecati quidem
      adipisci ea natus. Perspiciatis, optio.
    </p>
  </div>
</section>
