.footer-container {
    position: relative;
    /* display: flex; */
    max-width: 375px;
    padding: 32px 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-address {
    font-style: normal;
  }
  footer {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #1e1823;
  }
  .footer-header {
    margin-bottom: 32px;
  }
  .footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
  }
  .footer-title-accent {
    color: #fd9222;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer-wrapper::after {
    content: '';
    position: absolute;
    width: 89%;
    top: 52%;
    left: 5%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1px;
  }
  
  .footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 14px;
  }
  .footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
  .footer-contact-item:first-child {
    padding-bottom: 4px;
  }
  .footer-contact-item:last-child {
    padding-bottom: 32px;
  }
  .footer-social-list {
  }
  .footer-links {
    display: flex;
    gap: 17px;
  }
  .footer-links-item {
  }
  .footer-link-icon {
    stroke: #ffffff;
  }
  
  .footer-link-list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .footer-link-item {
  }
  
  @media screen and (min-width: 768px) {
    .footer-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 768px;
      padding: 50px 32px;
      margin-left: auto;
      margin-right: auto;
    }
    .footer-header {
      margin-bottom: 32px;
      max-width: 300px;
    }
  
    .footer-links {
      display: flex;
      gap: 21px;
    }
    .footer-contact-us {
      margin-right: 52px;
    }
  
    .footer-link-list {
      display: flex;
      flex-direction: row;
  
      gap: 24px;
      margin-top: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: -0.02em;
    }
    .footer-wrapper::after {
      content: '';
      position: absolute;
      width: 92%;
      top: 60%;
      left: 4%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 1px;
    }
  }
  @media screen and (min-width: 1200px) {
    .footer-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      padding: 50px 32px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  