.container-modal-review {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(1, 1, 1, 0.3);
}

.modal-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 471px;
  padding: 32px 24px;
  background-color: #fafafa;
  border-radius: 15px;
}

.modal-review-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.modal-review-btn-icon {
  width: 24px;
  height: 24px;
  stroke: var(--black);
  transition: all 250ms;
}

.modal-review-btn-icon:is(:hover, :focus) {
  width: 27px;
  height: 27px;
}

.modal-review-title {
  width: 255px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.modal-review-title-colorize {
  color: var(--orange);
}

.modal-review-item {
  position: relative;
}

.modal-review-input {
  width: 100%;
  height: 45px;
  margin-bottom: 14px;
  padding: 14px 18px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(64, 64, 64, 0.3);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}

.modal-review-input-number {
  padding-left: 106px;
}

.modal-review-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.modal-review-input-exemple {
  position: absolute;
  top: 22px;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21px;
  letter-spacing: 0.02em;
  color: #000000;
}

.modal-review-icon {
  position: absolute;
  width: 24px;
  height: 18px;
  top: 14px;
  left: 18px;
}

.modal-review-coment {
  width: 100%;
  min-height: 91px;
  padding: 14px 18px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(64, 64, 64, 0.3);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  resize: none;
}

.modal-review-coment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.modal-review-btn-send-data {
  display: block;
  margin-top: 18px;
  height: 45px;
  padding: 14px 28px;
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .modal-review {
    width: 517px;
    height: 631px;
    padding: 40px;
  }

  .modal-review-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-review-btn-icon {
    width: 28px;
    height: 28px;
  }

  .modal-review-btn-icon:is(:hover, :focus) {
    width: 32px;
    height: 32px;
  }

  .modal-review-title {
    width: 2298px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.17;
  }

  .modal-review-input {
    height: 66px;
    margin-bottom: 19px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }

  .modal-review-input-number {
    padding-left: 177px;
  }

  .modal-review-input-exemple {
    height: 22px;
    top: 32px;
    left: 74px;
    font-size: 18px;
    line-height: 1.22px;
  }

  .modal-review-icon {
    width: 32px;
    height: 24px;
    top: 22px;
    left: 24px;
  }

  .modal-review-coment {
    min-height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }

  .modal-review-btn-send-data {
    display: block;
    margin-top: 18px;
    height: 45px;
    padding: 14px auto;
    border-radius: 100px;
  }
}
