/*Shavala*/

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    background-color: #1e1823;
    z-index: 1;
    padding-top: 28px;
    padding-bottom: 22px;
    padding-left: 21px;
  }
  .menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-close {
    display: block;
    margin-left: auto;
    margin-bottom: 83px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .menu-close-icon {
    stroke: #ffffff;
  }
  /* .menu-list {
  } */
  .menu-item {
    margin-bottom: 24px;
  }
  .menu-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-left: 30px;
  }
  
  .menu-link:hover {
    color: #fd9222;
  }
  
  .menu-link:focus {
    color: #fd9222;
  }
  
  .menu-soc-list {
    display: flex;
    justify-content: flex-start;
    margin: 0px -10px;
  }
  
  .menu-soc-item {
    margin: 0px 10px;
  }
  
  .menu-soc-link {
    width: 100%;
    height: 100%;
  
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .menu-soc-icon:hover {
    stroke: #fd9222;
  }
  
  .menu-soc-icon:focus {
    stroke: #fd9222;
  }
  
  @media screen and (min-width: 375px) {
  }
  
  @media screen and (min-width: 768px) {
    .menu {
      width: 290px;
      padding-top: 33px;
      padding-bottom: 27px;
      padding-left: 34px;
      padding-right: 41px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .menu {
      display: none;
    }
  }
  