/* The Menu */
.menu {
  position: fixed;
  top: 0;
  right: -200px; 
  width: 220px;
  height: 100%;
  background: #1E1823;
  padding: 20px;
  transition: right 0.5s ease-out; 
  visibility: hidden; 
  

}


.menu.show-menu {
  right: 0; 
  visibility: visible; 
}

/* Button to open the menu */
#open-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: #eeeaea00;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


#close-menu {
  background-color: #ffffff00;
  color: #333;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: 195px;
  top: 20px;
}
.menu-list-header{
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #1E1823;
  margin-top: 136px;
}
.menu-link-header:hover,
.menu-link-header:focus{
  color: orange;
}
.menu-link-header:hover,
.menu-link-header:focus .menu-link-header::after{
  display: block;
}

.menu-link-header{
  font-weight: 500;
 font-size: 14px;
 color: #FFFFFF;
 letter-spacing: -0.02em;
 transition-duration: 250ms;
 position: relative;
}
.menu-link-header::after{
  background-image: url(../src/img/Vector\ 15.png);
  position: absolute;
  padding-top: 8px;
  display: none;
}

.menu-social-header{
  color: #1E1823;
  display: flex;
  gap: 16px;
  position: absolute;
  left: -5%;
  top: 88%;
}


.logo{
  display: block;
  font-weight: 700;
 font-size: 14px;
 line-height: 1.3em;
 letter-spacing: -0.03em;
 margin-top: 25px;
 padding-left: ;
 color: #111111;
 position: relative;
}
.logo-part{
  font-style: italic;

}
.chocko{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  

}
.menu-header-svg:hover,
.menu-header-svg:focus .menu--svg{
  fill: orange;
}
#close-menu:hover,
#close-menu:focus .header-menu-close{
  fill: orange;
  width: 40px;
  height: 40px;
}

.container-header{
  max-width: 375px;
  margin: 0 auto;
  padding-left: 15px;
  padding-bottom: 15px;
}
.header-link{
  display: none;
}

.header-top{
  display: none;
}

*{
text-decoration: none;
}
a{
  text-decoration: none;
}
.header-cont{
  display: flex;
}
html {
  box-sizing: border-box;
}

body{
  color: white;
  font-family: 'Montserrat', sans-serif;
}
ul{
  padding: 0%;
}
@media screen and (min-width: 480px){
  .container-header{
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-header{
    max-width: 768px;
  }
  .menu{
    width: 290px;
  }
  .menu-list-header{
    padding-left: 85px;
  }
  #close-menu{
    left: 80%;

  }

  
}
@media screen and (min-width: 1200px){
  .container-header{
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
  .header-link{
    display: flex;
    gap: 24px;
    margin-left: 284px;
    

  }
  .header-top{
    display: flex;
    margin-left: 137px;
    gap: 15px;
    padding-top: 5px;
    
  }
  .logo{
    margin-top: 0%;
    font-weight: 700;
    font-size: 18px;
  }
  #open-menu{
    display: none;
  }
  .header-anchor{
    font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  color: #111111;
  letter-spacing: -0.02em;

  }


}