.made-container{
    font-family: 'Montserrat';
    font-style: normal;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
}
.video-made{
    width: 100%;
    position: relative;
}
.img-made{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 15px;
    width: 100%;
    height: 100%;
    max-height: 500px;
}
.h2-made{
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
}
.h2-made-sec{
    color:#FD9222;
}
.div-list{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px 14px;
    margin-top: 20px;
}
.h3-made{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #111111;
}
.list-made{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-top: 20px;
    color:#FD9222;
}
.li-made{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #111111;
}
.svg-made{
    margin-top: 3px;
    width: 100%;
    max-width: 8px;
    height: 8px;
    margin-right: 8px;
}
@media screen and (min-width: 768px) {
    .made-container{
        max-width: 768px;
        padding-left: 77px;
        padding-right: 77px;
    }
    .h2-made{
        padding: 0;
        margin-bottom: 50px;
        font-size: 24px;
    }
    .div-list{
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 102px;
    }
    .h3-made{
        width: 100%;
        max-width: 350px;
    }
    .list-made{
        margin-top: 28px;
    }
    .img-made{
        height: 100%;
        max-height: 400px;
    }
}
@media screen and (min-width: 1200px){
    .made-container{
        max-width: 1200px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .screen-1200{
        display: flex;
        flex-direction: row;
    }
    .div-list{
        margin: 0;
        margin-left: 20px;
    }
    .video-made{
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: 400px;
    }
    .list-made{
        row-gap: 24px;
    }
}