
.topsellers-container {
  margin-top: 128px;
  margin-bottom: 128px;
  min-width: 335px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.topselles-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.top {
  color: var(--orange);
}
.sellers {
  color: var(--black);
}
.topseller-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 16px;
}

.topseller-img {
  width: 368px;
  height: 464px;
  border-radius: 15px;
}
.topseller-tumb {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.topseller-text {
  display: block;
  width: 408px;
  font-family: var(--main-font);
    font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
    letter-spacing: -0.02em;
  color: var(--black);
}
