/*
.topsellers-container {
  margin-top: 128px;
  margin-bottom: 128px;
  min-width: 335px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.topselles-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.top {
  color: var(--orange);
}
.sellers {
  color: var(--black);
}
.topseller-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 16px;
}

.topseller-img {
  width: 368px;
  height: 464px;
  border-radius: 15px;
}
.topseller-tumb {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.topseller-text {
  display: block;
  width: 408px;
  font-family: var(--main-font);
    font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
    letter-spacing: -0.02em;
  color: var(--black);
}
*/

.top-sellers-section {
  margin-bottom: 72px;
  background: #fafafa;
}

.top-sellers-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}

.top-sellers-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;

  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.top-sellers-title-span {
  color: var(--orange);
}

.top-sellers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
}

.top-sellers-item {
  display: block;
  max-width: 335px;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;

  margin-bottom: 20px;
}

.top-sellers-item:nth-child(3) {
  display: none;
}

.top-sellers-subtitle {
  margin-top: 0;

  width: 306px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black);
}

.top-sellers-btn {
  display: block;
  width: 120px;
  height: 41px;
  padding: 12px 28px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border: transparent;
  background-color: var(--orange);
  color: #ffffff;
  cursor: pointer;
}

.top-sellers-btn:hover,
.top-sellers-btn:focus {
  background-color: #fcf1e0;
  color: var(--orange);
}

/*---MOBILE_CSS----*/

@media screen and (min-width: 320px) and (max-width: 767px) {
  .top-sellers-section {
    margin-bottom: 0px;
  }

  .top-sellers-container {
    position: relative;
    min-width: 320px;
    max-width: 375px;
    background-color: #fafafa;
  }

  .top-sellers-flex {
    display: block;
  }

  .top-sellers-wrap {
    display: block;
  }

  .top-sellers-list {
    display: block;
    margin: 0 auto;
  }

  .top-sellers-item:last-child {
    margin-bottom: 20px;
  }

  .top-sellers-item:nth-child(1) {
    margin-bottom: 142px;
  }

  .top-sellers-subtitle {
    position: absolute;
    top: 520px;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    margin-top: 20px;
  }

  .top-sellers-btn {
    margin-top: 0.5px;
  }
}

/*---TABLET_CSS---*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-sellers-section {
    margin-bottom: 100px;
  }

  .top-sellers-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .top-sellers-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .top-sellers-item {
    max-width: 344px;
    margin-bottom: 32px;
  }

  .top-sellers-item:last-child {
    display: none;
  }

  .top-sellers-flex {
    display: flex;
    justify-content: space-between;
  }

  .top-sellers-subtitle {
    margin-bottom: 0;
  }

  .top-sellers-btn {
    width: 162px;
    height: 50px;
    padding: 14px 40px;
    margin-left: auto;
    margin-right: 0;

    font-size: 18px;
  }
}
/*--DESKTOP_CSS---*/

@media screen and (min-width: 1200px) {
  .top-sellers-section {
    margin-bottom: 144px;
  }

  .top-sellers-container {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .top-sellers-item {
    max-width: 368px;
    margin-bottom: 32px;
  }

  .top-sellers-item:last-child {
    display: block;
  }

  .top-sellers-flex {
    display: flex;
    justify-content: space-between;
  }

  .top-sellers-subtitle {
    width: 407px;
    margin-bottom: 0;
  }

  .top-sellers-btn {
    margin-right: auto;
    margin-right: 0;
  }
}
