.reviews {
  padding-bottom: 72px;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

.reviews-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.reviews-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(17, 17, 17, 1);
  margin-bottom: 32px;
  text-align: center;
}

.reviews-title-accent {
  color: rgba(253, 146, 34, 1);
}

.reviews-item {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
.reviews-item-person {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 120px;
  top: -40px;
}

.reviews-item-name {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.09;
  color: #111111;
  margin-top: 18px;
  margin-bottom: 24px;
}

.reviews-item-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 42px;
  padding-bottom: 42px;
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.reviews-item-text {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.05;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}

.btn-review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--black);
  min-width: 165px;
  height: 41px;
  padding: 12px 28px;
  background: transparent;
  border: 1px solid;
  border-radius: 100px;
  border-color: var(--orange);
  transition-property: background-color, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-review:is(:hover, :focus) {
  color: #ffffff;
  background: #fd9222;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 100px;
  }

  .reviews-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .reviews-title {
    margin-bottom: 49px;
    font-size: 24px;
    line-height: 1.17;
  }

  .reviews-item-person {
    left: 132px;
  }

  .reviews-item {
    width: 344px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .reviews-item-text {
    padding-left: 16px;
    padding-right: 16px;
  }

  .btn-review {
    margin-top: 50px;
    min-width: 222px;
    min-height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 128px;
  }

  .reviews-container {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .reviews-item-person {
    left: 140px;
  }

  .reviews-item {
    width: 360px;
  }

  .reviews-item-text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* --- Slider --- */

.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
  padding-top: 41px;
}

/* Конкретный слайдер */
.slider {
  position: relative;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
 
}
.slider .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
  border: 1px solid transparent;
  border-radius: 15px;
}

.slider .slick-dots li.slick-active button {
  background-color: #fd9222;
  border: 1px solid transparent;
  border-radius: 15px;
  width: 28px;
}

.slider_item {
  width: 335px;
}
