

.advantages-container {
    background-color: #1E1823;
    width: 100%;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
}